/* Header section styling here */
#header{
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    width: 100%;
    padding: 2rem 0;
}

#header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header .site-logo svg{
    width: 3.5rem;
    height: auto;
}

#header .site-action-button{
    color: var(--body-background-color);
}

#header .site-action-button::before{
    border: 2px solid var(--body-background-color);
}

#header .site-action-button::after{
    border: 2px solid var(--body-background-color);
}


/* Hero section styling here */
.hero-section{
    background-color: var(--black-color);
    color: var(--white-color);
    padding: 150px 0 80px 0;
    color: var(--body-background-color);
}

.hero-section .container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem;
}

.hero-section .hero-content{
    max-width: 33rem;
}

.hero-content h3{
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.hero-content p{
    font-size: 1.2rem;
}

.hero-content .site-action-button{
    color: var(--body-background-color);
    margin-top: 2.5rem;
}

.hero-content .site-action-button::before{
    border: 2px solid var(--body-background-color);
}

.hero-content .site-action-button::after{
    border: 2px solid var(--body-background-color);
}

.hero-form{
    background-color: var(--body-background-color);
    max-width: 31.25rem;
    justify-self: end;
    padding: 2.5rem;
}

.hero-form input,
.hero-form textarea{
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 1rem 0;
    color: var(--hero-form-button-color);
    font-family: var(--heading-font);
    font-weight: 600;
    font-size: 1.2rem;
    border-bottom: 1px solid var(--hero-form-button-color);
    line-height: 1;
}

.hero-form textarea{
    height: 10rem;
    resize: vertical;
}

.hero-form .site-action-button{
    font-family: var(--normal-paragraph-font);
    font-size: 1rem;
    font-weight: 700;
    border: none;
    cursor: pointer;
    color:  var(--hero-form-button-color);
    margin-top: 2rem;
}

.hero-form .site-action-button::after{
    border: 2px solid var(--hero-form-button-color);
}

.hero-form .site-action-button::before{
    border: 2px solid var(--hero-form-button-color);
}


/* Here is the our experience section styling here */
.our-experience-section{
    padding: var(--inter-section-padding);
    position: relative;
    overflow-x: hidden;
}

.experience-content-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5rem;
    transform: translate(30%, 0);
}

.experience-content{
    color: var(--secondary-color);
}

.experience-content h2{
    font-size: 3.5rem;
    margin-bottom: .5rem;
}

.experience-content p{
    font-size: 1.2rem;
}

.experience-image img{
    max-width: 40rem;
    height: auto;
    object-fit: cover;
}

.experience-numbers-wrapper{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    column-gap: 7rem;
    transform: translate(-16%, 0);
    margin-top: -15%;
}

.experience-numbers{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 10rem;
    justify-content: start;
    color: var(--secondary-color);
    margin-bottom: 4rem;
}

.experience-numbers div{
    text-align: center;
}

.experience-numbers p{
    font-size: 4.5rem;
    font-weight: 700;
    font-family: var(--heading-font);
    line-height: 1;
    margin-bottom: .5rem;
}

.experience-numbers span{
    font-size: 1.2rem;
    font-family: var(--normal-paragraph-font);
    text-wrap: nowrap;
}

.experience-number-image img{
    max-width: 40rem;
    height: auto;
    object-fit: cover;
}


/* Here is the our story section styling here */
.our-story-section{
    padding: var(--inter-section-padding);
}

.our-story-section h3{
    font-size: 3rem;
    color: var(--secondary-color);
    margin-bottom: 1.8rem;
}

.our-story-container{
   background-color: var(--primary-color);
}

.our-story-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
    align-items: center;
    column-gap: 4.5rem;
    background-color: var(--primary-color);
}

.our-story-image{
    width: calc(100% - 60px);
    height: 100%;
    object-position: center center;
    position: relative;
    flex-grow: 1;
}

.our-story-image img{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: cover;
    top: 0;
    left: 0;
    object-position: inherit;
}

.our-story-content{
    color: var(--body-background-color);
    max-width: 31.25rem;
}

.our-story-content h4{
    font-size: 2.5rem;
    margin-bottom: .5rem;
}

.our-story-content p{
    font-size: 1.2rem;
}